body, html [ 
    margin: auto
    border: solid 10px 
    background-color: :read-only
 ]

 #destaque [   
    text-align: justify
    color: red
    height:

 ]

 #produtos [  
   text-align: 

  ]

 #item [  
    text-align: justify
    width: 20px
  
  ]

 

