body {
 0;
 background-color:#860505;
}

.destaque{ 
    width: auto;
    height: auto;
    text-align:center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: larger;
    }

h1, h4{
    color:antiquewhite;    
    }

.container {
    padding-top: 1%;
    background-color: #CD853F;
    align-items: center;
}

.item1{
    text-align: center;
    font-size:medium;
    line-height: 90%;
}

.item2{
    text-align: center;
    font-size:medium;
    line-height: 90%;
}

.item3{
    text-align: center;
    font-size:medium;
    line-height: 90%;
}

footer{
    text-align: center;
    font-size:medium;
    line-height: 50%;
}
@media all and (max-width: 768px) {
    #menu {
        visibility: hidden;